/*Importar fuente Open Sans de Google*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*Importar íconos de Font awesome*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*#033768*/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    /*background: rgb(248, 248, 249);*/
    background: url("../img/background.jpeg") no-repeat center center fixed;
    background-size: cover;
}

p, h1, h2, h3, h4, h5, blockquote {
    color: #000;
}

.main-text {
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 10%;
    right: 10%;
}

header {
    /*background-color: rgb(31, 43, 44);*/
    background-color: #000;
    width: 100%;
}

header label {
    display: none;
    padding: 20px;
    cursor: pointer;
}

#menu-btn {
    display: none;
}

.fa.fa-bars {
    color: #fff;
}

ul {
    list-style: none;
    height: 60px;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    flex-direction: row;
    position: relative;
    padding: 10px 10px;
    margin-right: 5px;
}

li a {
    display: inline-block;
    color: rgb(198, 198, 206);
    text-decoration: none;
    font-size: 16px;
    padding: 10px 10px;
}

li a:hover {
    color: rgb(255, 255, 255);
}

#logo {
    width: 70px;
}

a #logo {
    margin-top: -5px;
    margin-left: 10%;
    margin-right: 10px;
    float: left;
}

.content-right {
    float: right;
}

.text-normal {
    font-size: 16px;
}

.container {
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.publicity-image {
    width: 80%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, .8);
}

footer p {
    color: #fff;
    margin-left: 10%;
}

footer a {
    color: #fff;
    text-decoration: none
}

table td{
    border: 2px solid #000;
    text-align: left;
}

@media (max-width: 768px) {
    header label {
        display: inline-block;
        padding: 10px;
        cursor: pointer;
    }

    ul {
        position: absolute;
        flex-direction: column;
        width: 100%;
        display: none;
    }

    li {
        /*background-color: rgba(31, 43, 44, .9);*/
        background-color: rgba(0, 0, 0, .9);
    }

    li a {
        display: block;
    }

    #menu-btn:checked ~ ul {
        display: block;
    }

    #logo {
        position: absolute;
        right: 0;
        margin-right: 10px;
        margin-top: -5px;
        width: 60px;
    }

}